<header>
  <!-- <header *ngIf="isReady$ | async"> -->

  <!-- You can show and hide the html elements based on this variable:
  {{ hideNavigation }} -->
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">Angular&nbsp;17</span></p>
      <span class="sub-logo">Forum</span>
    </div>
    <div class="mini-navbar">
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/theme">Themes</a>
        </li>
        <li>
          <a routerLink="/theme/new">New&nbsp;Theme</a>
        </li>
      </ul>
      <ul *ngIf="isLogged$ | async; else notLoggedIn">
        <li>
          <a routerLink="/user/profile">Profile</a>
        </li>
        <li>
          <a (click)="logoutHandler()">Logout</a>
        </li>
      </ul>
      <ng-template #notLoggedIn>
        <ul>
          <li>
            <a routerLink="/user/login">Login</a>
          </li>
          <li>
            <a routerLink="/user/register">Register</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>

</header>
