@import url('reset.css');
@import url('responsive.css');

:root {
    --colorCambridgeBlue: rgb(141, 170, 145);
    --colorResedaGreen: rgb(120, 132, 117);
    --colorDavyGray: rgb(94, 93, 92);
    --colorEggplant: rgb(69, 54, 67);
    --colorDarkPurple: rgb(40, 17, 43);
}

html {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: auto;
    position: relative;
}

span {
    font-weight: bold;
}

button {
    background-color: #4ebced;
    color: white;
}

button:hover {
    cursor: pointer;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}